body{
background-color: #f3f3f3;
}

.logo img {
    width: 128px;
}

header {
    display: flex;
    width: 100%;
    min-height: 64px;
    justify-content: space-around;
    border-bottom: 2px solid #67975e;
}

.menu nav ul, .social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu nav ul li, .social ul li {
    margin: 0px 12px;
}

.menu, .social {
    display: flex;
    align-items: center;
}


.menu a, .social a {
    text-decoration: none;
    color: #25282d;
    padding: 32px ;
}

section.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(header-wdog.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.banner .conteudo {
    padding: 18px;
    background-color: #3c78874f;
    border-radius: 30px;
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

section.banner .conteudo h2 {
    width: 100%;
    color: #101a26;
}

section.banner .conteudo p {
    width: 100%;
    color: #101a26;
    font-size: 18px;
}

section.sobre {
    width: 100%;
    margin: 32px;
    display: flex;
    flex-direction: row;
}

section.sobre .div{
    width: 50vw;
    overflow: hidden;
}

section.sobre .imagem img {
    width: 500px;
}

section.sobre .conteudo {
    margin: 12px 24px;
}

section.sobre .conteudo p, section.requisitos .conteudo p {
    width: 100%;
    font-size: 20px;
    color: #101a26;
}

section.sobre .conteudo h2, section.requisitos .conteudo h2 {
    width: 100%;
    font-size: 32px;
    color: #101a26;
}

section.requisitos .conteudo{
    margin: 12px 24px;
}


section.requisitos .conteudo h3 {
    width: 100%;
    font-size: 24px;
    margin: 28px 18px 12px;
    padding: 12px;
    color: #101a26;
}





footer div.espacamento {
    width: 100%;
    height: 24px;
    border-bottom: 2px solid #b2b8b963  ;
    margin: 0px auto;
}

footer div.footer-interno{
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 24px;
    margin: 12px;
    justify-content: space-around;
    color: #25282d;
}

footer div.footer-interno .footer-coluna-1 img{
    width: 100px;
}


@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}