
.logo{
    width: 128px;
}

.menu nav ul, .social ul {
    list-style: none;
}

.menu a, .social a {
    text-decoration: none;
    color: #25282d;
    padding: 32px ;
}

section.banner {
    background: url(header-wdog.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 35vh 1rem ;
    align-items: center;
    text-align: center;
}

.sobre .conteudo{
    width: 70%;
} 

section.banner .conteudo{
    padding: 12px;
    background-color: #a2cad465;
    border-radius: 16px;
    align-items: center ;
}

footer div.espacamento {
    width: 100%;
    height: 24px;
    margin: 52px auto 12px;
}

section.text-center div.espacamento-form {
    width: 100%;
    height: 32px;
    border-bottom: 2px solid #b2b8b963  ;
    margin: 52px auto 52px;
}

footer div.footer-interno{
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 24px;
    margin: 12px;
    justify-content: space-around;
    color: #7c7c7cc7;
    list-style: none;
}

section.requisitos .conteudo h3 {
    width: 100%;
    font-size: 24px;
    padding: 12px;
    color: #101a26;
}

section.requisitos .conteudo h2 {
    width: 100%;
    color: #101a26;
}


footer .footer-interno .footer-coluna ul li.titulo {
    color: #363636;

}

footer .footer-interno .footer-coluna ul{
    list-style: none;
    text-align: center;
}
footer .footer-interno .footer-coluna ul li{
    list-style: none;
    text-align: center;
}
footer{
    border-top: 1px solid #36363636;
}
section.opcao{
    width: 80%;

    margin: 90px auto;
    display: flex;
    flex-direction: row;
}

section.opcao div.banner-pequeno{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 32px;
    padding: 42px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    background: #fafafa;
}

section.opcao div.banner-pequeno h3{
    font-size: 28px;
}

section.opcao div.banner-pequeno p{
    font-size: 16px;
}

section.opcao div.pet-image img{
    width: 100%;
}

section.formulario form#form input , section.formulario div.login input {
    width: 100%;
    padding: 6px;
    margin: 6px auto;
}

section.formulario form#form , section.formulario div.login {
    width: 45vw;
    margin: 1rem auto;
    text-align: center
}

section.formulario form#form input[type="submit"] , section.formulario div.login input[type="submit"] {
    width: 180px;
    margin: 6px auto 6px 0px;
}

section.formulario h3, section.formulario p {
    text-align: center;
}

section.formulario form#form button {
    width: 180px;
    margin: 6px auto 6px 0px;
}

section.formulario select {
    width: 100%;
    padding: 6px;
    margin: 6px auto;
}

















